<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CopyMediaCard',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div :class="[data.cta ? 'container container__media' : 'container']">
    <nuxt-img
      v-if="data.image_url"
      :src="data.image_url"
      :alt="data.image_alt_text"
      :class="
        !data.cta
          ? 'container__image container__image--box'
          : 'container__image'
      "
      loading="lazy"
    />
    <div class="container__text">
      <div class="container__text--copy">
        <div v-html="$md.render(data.copy)"></div>
      </div>
      <a
        v-if="data.cta"
        :href="data.cta_link"
        :data-ga-name="data.cta_data_ga_name"
        :data-ga-location="data.cta_data_ga_location"
        >{{ data.cta }}</a
      >
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow:
    0 1px 3px 0 rgba($color-surface-700, 0.1),
    0 1px 2px 0 rgba($color-surface-700, 0.06);
  padding: $spacing-32;
  margin: $spacing-32 $spacing-16;
  &__media {
    margin: $spacing-16;
  }
  width: 100%;
  &__text {
    max-width: 715px;
    &--copy {
      font-size: $text-button-1;
      line-height: 24px;
    }
  }
  &__image {
    width: 110px;
    @media (max-width: $breakpoint-md) {
      margin-right: 1rem;
    }
    &--box {
      margin-right: $spacing-32;
    }
  }
}
</style>
