<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BenefitCards',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer class="benefit-cards">
    <SlpRow>
      <SlpColumn :cols="6">
        <SlpTypography
          v-if="data.title"
          tag="h2"
          variant="heading2-bold"
          class="slp-mb-32"
        >
          {{ data.title }}
        </SlpTypography>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="benefits">
      <div
        v-for="benefit in data.benefits"
        :key="benefit.icon"
        class="benefit slp-mb-32"
      >
        <SlpIcon
          v-if="benefit.icon"
          :name="benefit.icon"
          alt="Icon"
          size="md"
          variant="marketing"
        />
        <SlpTypography variant="heading4-bold" tag="h4" class="slp-my-8">
          {{ benefit.title }}
        </SlpTypography>
        <SlpTypography v-if="benefit.description" variant="body" tag="p">
          {{ benefit.description }}
        </SlpTypography>
      </div>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.benefit-cards {
  margin: $spacing-96 auto;

  @media (max-width: $breakpoint-md) {
    margin: $spacing-64 auto;
  }
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-32;

  .benefit {
    width: 350px;
  }
}
</style>
