<script lang="ts">
import Vue from 'vue';

import SlpHorizontalRule from '../common/horizontal-rule.vue';
import FaqMenu from './faq-menu.vue';

export default Vue.extend({
  name: 'CopyFaq',
  components: {
    SlpHorizontalRule,
    FaqMenu,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>
<template>
  <div
    :data-aos="data.aos_animation"
    :data-aos-duration="data.aos_duration"
    :data-aos-offset="data.aos_offset"
  >
    <SlpRow class="container">
      <span v-if="data.metadata" :id="data.metadata.id_tag">{{ ' ' }}</span>
      <div class="container__description">
        <SlpIcon
          v-if="!data.hide_tanuki"
          name="gitlab"
          size="lg"
          alt="GitLab Logo Tanuki"
          variant="marketing"
        ></SlpIcon>
        <SlpTypography
          v-if="data.hide_tanuki"
          tag="h3"
          variant="heading3"
          class="slp-mb-16"
        >
          {{ data.title }}
        </SlpTypography>
        <SlpTypography v-else tag="h2" variant="heading2" class="slp-mb-24">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography
          tag="div"
          variant="body1"
          v-html="$md.render(data.description)"
        ></SlpTypography>
      </div>
      <div class="container__faq copy">
        <FaqMenu :data="data.faq" />
      </div>
      <SlpHorizontalRule />
    </SlpRow>
  </div>
</template>
<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    justify-content: center;
  }

  span {
    min-width: 100vw;
  }

  &__description,
  &__faq {
    max-width: 511px;
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
    }
  }

  &__faq {
    & > * {
      margin-top: $spacing-16;
    }
  }
}
</style>
