<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Review',
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="review-container">
      <SlpRow class="w-100 prevent-overflow">
        <SlpColumn class="review-text-container" :cols="5" size="lg">
          <SlpIcon
            class="review-text-container-icon"
            variant="marketing"
            name="doc-pencil-alt"
            size="md"
          />
          <SlpTypography
            class="review-text-container-text slp-mb-16 slp-pr-72"
            variant="heading2-bold"
            tag="h2"
          >
            <slot name="ft-text">{{ data.title }}</slot>
          </SlpTypography>
          <SlpTypography class="slp-mb-24" variant="body1" tag="p">
            {{ data.text }}
          </SlpTypography>
          <a class="link-container" :href="data.link"
            ><SlpTypography class="write-review"
              >{{ data.link_text }}
              <SlpIcon
                class="write-review-icon"
                name="chevron-lg-right"
                variant="product"
              />
            </SlpTypography>
          </a>
        </SlpColumn>
        <SlpColumn class="review-image slp-mt-64-sm" :cols="7" size="lg">
          <div class="slp-flex w-100">
            <div class="right-column w-100">
              <img
                class="right-column_image"
                :src="data.image"
                :alt="data.alt"
              />
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.review-container {
  margin-bottom: $spacing-64;
  max-width: 1110px;
}

.review-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 50px;
  background: #f6f3fe;
  &-text {
    margin: 24px 0;
  }
  @media (max-width: $breakpoint-sm) {
    padding: 40px;
  }
}
.right-column_image {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 0 0 40px 0;
}
a {
  color: #171321;
  &:hover {
    text-decoration: underline;
    .write-review-icon {
      transform: translate(7px, 2px);
    }
  }
}
.write-review {
  transition: all 0.2s ease-in-out;
  display: flex;
  font-weight: 600;

  &-icon {
    transition: all 0.2s ease-in-out;
    transform: translatey(2px);
  }
}
</style>
