<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  ComparisonHero,
  ComparisonLegend,
  TabAnalysis,
  TabsIntro,
} from '~/components/competition/index.vue';
import { NextStep } from '~/components/common/index.vue';

import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    ComparisonHero,
    NextStep,
    TabsIntro,
    ComparisonLegend,
    TabAnalysis,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    try {
      const templateData = await $content(`competition/base_template`).fetch();
      const githubData = await $content(`competition/github`).fetch();

      const data = { ...templateData.data, ...githubData.data };

      // meta tags
      data.title = `GitLab vs ${githubData.data.competitor}`;
      data.description = data.subheading;

      data.crumbs.push({ title: data.title });

      if (data.competitor_product === undefined) {
        data.competitor_product = data.competitor;
      }

      return { data };
    } catch (e) {
      return error({ statusCode: 404 });
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
});
</script>

<template>
  <div>
    <ComparisonHero :data="data" />
    <SlpContainer>
      <TabsIntro :data="data" />
    </SlpContainer>
    <div class="table-wrapper">
      <SlpContainer>
        <TabAnalysis :data="data" />
      </SlpContainer>
    </div>
    <SlpContainer>
      <ComparisonLegend :data="data.legend" class="legend-card" />
    </SlpContainer>
    <SlpContainer class="slp-mt-96 next-steps__container" variant="gradient">
      <NextStep />
    </SlpContainer>
    <SlpSideButton data-ga-name="to-top" data-ga-location="body" />
  </div>
</template>

<style scoped lang="scss">
.slp-top-btn {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.next-steps__container {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.legend-card {
  border: 1px solid $color-surface-200;
  width: 50%;
  border-radius: $border-radius-4;
  margin: 0;
  padding: $spacing-32;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}
.table-wrapper {
  overflow: hidden;
}
</style>
