<script lang="ts">
import Vue from 'vue';
import {
  NonprofitIntro,
  NonprofitOverview,
  QuotesCarousel,
  SingleCtaBlock,
} from '../nonprofit/index.vue';
import {
  Copy,
  CopyMedia,
  Faq,
  GroupButtons,
  NextStep,
  NextStepAlt,
  ReportCta,
  SideNavigationVariant,
  SlpBreadcrumb,
} from '../../common/index.vue';
import {
  BySolutionAccordeon,
  BySolutionBenefits,
  BySolutionCasestudies,
  BySolutionHero,
  BySolutionIntro,
  BySolutionLink,
  BySolutionListImage,
  BySolutionShowcase,
  BySolutionValueProp,
} from '../by-solution/index.vue';
import {
  ByIndustryCaseStudies,
  ByIndustryIntro,
  ByIndustrySolutionsBlock,
} from '../by-industry/index.vue';
import {
  OpenSourceBlog,
  OpenSourceFormSection,
  OpenSourcePartnersGrid,
  OverviewBlocks,
  PartnersGridFull,
} from '../../open-source/index.vue';
import { CarouselComponent as ByIndustryQuotesCarousel } from '../by-industry/quotes-carousel/index.vue';
import {
  CtaBlock,
  ResourceCarousel,
  SolutionsHero,
  SolutionsResourceCards,
  SolutionsVideoFeature,
  TierBlock,
} from '../index.vue';
import { CustomerLogos } from '../../devsecops/index.vue';
import { EducationCaseStudyCarousel } from '../education/index.vue';
import {
  StartupsIntro,
  StartupsLink,
  StartupsOverview,
} from '../startups/index.vue';

import {
  AnalyticsInsightsCustomerSuccessCard,
  AnalyticsInsightsFeatured,
  AnalyticsInsightsShowcaseFaq,
} from '../analytics-and-insights/index.vue';

export default Vue.extend({
  name: 'IndustryTemplate',
  components: {
    AnalyticsInsightsFeatured,
    AnalyticsInsightsShowcaseFaq,
    AnalyticsInsightsCustomerSuccessCard,
    TierBlock,
    NextStep,
    NextStepAlt,
    CtaBlock,
    Copy,
    CopyMedia,
    StartupsIntro,
    StartupsOverview,
    StartupsLink,
    BySolutionShowcase,
    SlpBreadcrumb,
    OpenSourceBlog,
    BySolutionHero,
    BySolutionValueProp,
    OpenSourcePartnersGrid,
    OverviewBlocks,
    EducationCaseStudyCarousel,
    BySolutionBenefits,
    SolutionsResourceCards,
    SolutionsVideoFeature,
    ResourceCarousel,
    CustomerLogos,
    BySolutionIntro,
    BySolutionAccordeon,
    PartnersGridFull,
    BySolutionCasestudies,
    BySolutionListImage,
    BySolutionLink,
    SideNavigationVariant,
    SolutionsHero,
    ByIndustryIntro,
    ByIndustryCaseStudies,
    ByIndustryQuotesCarousel,
    ByIndustrySolutionsBlock,
    GroupButtons,
    Faq,
    OpenSourceFormSection,
    ReportCta,
    QuotesCarousel,
    NonprofitOverview,
    SingleCtaBlock,
    NonprofitIntro,
  },
  props: {
    solutions: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <SlpBreadcrumb
        v-if="solutions.breadcrumbs"
        :crumbs="solutions.breadcrumbs"
      />
    </SlpContainer>
    <component
      :is="component.name"
      v-for="component in solutions.components"
      :key="component.name"
      :data="component.data"
      v-bind="component"
    >
      <slot v-if="component.slot_enabled">
        <component
          :is="subcomponent.name"
          v-for="(subcomponent, item) in component.slot_content"
          :key="item"
          v-bind="subcomponent"
        >
          <slot v-if="subcomponent.slot_enabled">
            <component
              :is="contents.name"
              v-for="(contents, subitem) in subcomponent.slot_content"
              :key="subitem"
              v-bind="contents"
            />
          </slot>
        </component>
      </slot>
    </component>
    <NextStepAlt v-if="solutions.next_step_alt" />
    <SlpContainer v-else :variant="solutions.no_gradient ? '' : 'gradient'">
      <NextStep :variant="solutions.nextstep_variant" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
div[role='main'] {
  overflow: clip;
}
</style>
