<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  NextStepAlt,
} from '../../components/common/index.vue';
import {
  EnterpriseFeatureList,
  EnterpriseHighlights,
} from '../../components/enterprise/index.vue';
import { SolutionsResourceCards } from '@/components/features/index';
import Events from '@/components/company/events.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    EnterpriseFeatureList,
    EnterpriseHighlights,
    Events,
    NextStepAlt,
    SolutionsResourceCards,
  },
  async asyncData({ $content, i18n, error }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;

      const allRemote = await $content(locale, 'company/all-remote').fetch();
      return { allRemote, locale };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).allRemote, this.$route.path);
  },
});
</script>

<template>
  <div class="all-remote">
    <SlpContainer>
      <CallToAction :data="allRemote.call_to_action" />
    </SlpContainer>
    <SlpContainer class="slp-mb-96">
      <EnterpriseFeatureList :data="allRemote.feature_list" />
    </SlpContainer>
    <section class="slp-mb-96 displaced-purple-background">
      <SlpContainer>
        <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-32">{{
          allRemote.highlights_header
        }}</SlpTypography>
        <EnterpriseHighlights :data="allRemote.highlights_1" />
        <EnterpriseHighlights :data="allRemote.highlights_2" />
      </SlpContainer>
    </section>
    <SlpContainer class="last-container">
      <Events :data="allRemote.events" />
      <SolutionsResourceCards :data="allRemote.resources_tabs" />
    </SlpContainer>
    <NextStepAlt :current-locale="locale" />
  </div>
</template>

<style lang="scss" scoped>
.all-remote * {
  overflow-wrap: break-word;
}
.all-remote .last-container {
  margin-bottom: 90px;
}
@media (max-width: $breakpoint-md) {
  .all-remote {
    &:deep {
      .cta__body .cta__buttons a {
        justify-content: center;
      }
    }
  }

  .last-container {
    margin-bottom: 160px;
  }
}

.displaced-purple-background {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 120px);
    margin-bottom: 120px;
    width: 100%;
    background: $color-surface-800;
  }
}
</style>
