<script lang="ts">
import Vue from 'vue';
import SingleQuote from './single-quote.vue';

interface Quote {
  link: string;
  name: string;
  title: string;
  image: string;
  quote: string;
}

export default Vue.extend({
  name: 'TenYearQuotes',
  components: {
    SingleQuote,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      quotes: [] as Quote[],
    };
  },
});
</script>

<template>
  <section class="container">
    <div class="intro">
      <p>
        <b>Meet some of our contributors!</b> Want to share your own story?
        <a href="/community/ten-year/#show--tell--share-your-story"
          >Learn more</a
        >
      </p>
    </div>
    <div class="quoteWrapper">
      <SingleQuote
        v-for="(quote, index) in quotes"
        v-show="index < 9 || showAll"
        :key="`${quote.name}SpeakerComponent`"
        :link="quote.link"
        :name="quote.name"
        :title="quote.title"
        :headshot="quote.image"
        :index="index"
        :quote="quote.quote"
      />
    </div>
  </section>
</template>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 100%;
  position: relative;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 144px;
    max-width: 1140px;
  }
}

.quoteWrapper {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  justify-content: space-between;

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / span 10;
  }
}

.intro {
  grid-column: 1 / -1;
  margin-bottom: 16px;

  a {
    color: #7d2bd9 !important;
  }
}
</style>
