<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CompanyShowcase,
  CustomerShowcase,
  Hero,
} from '~/components/customers/index.vue';
import { PartnersGridFull } from '~/components/open-source/index.vue';
import { BadgeTabs } from '~/components/home/index.vue';
import { StartupsLink } from '~/components/solutions/startups/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

import { CONTENT_TYPES } from '~/common/content-types';
import { getClient } from '~/plugins/contentful.js';

export default Vue.extend({
  components: {
    Hero,
    CustomerShowcase,
    PartnersGridFull,
    CompanyShowcase,
    BadgeTabs,
    StartupsLink,
    NextStep,
  },
  nuxtI18n: false,
  async asyncData({ _ }: any) {
    try {
      const content = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': '/customers',
        include: 5,
      });
      const data = content.items[0].fields.pageContent;

      const metadata = {
        title: content.items[0].fields.seoMetadata[0].fields.ogTitle,
        description:
          content.items[0].fields.seoMetadata[0].fields.ogDescription,
        og_title: content.items[0].fields.seoMetadata[0].fields.ogTitle,
        og_description:
          content.items[0].fields.seoMetadata[0].fields.ogDescription,
      };

      return { data, metadata };
    } catch (error) {
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).metadata, this.$route.path);
  },
  computed: {
    logo_grid() {
      return {
        ...this.data[3].fields.logoGridConfiguration,
        partners: this.data[3].fields.logo.map((item) => {
          return {
            logo: item.fields.image.fields.file.url,
            alt: item.fields.altText,
            href: item.fields.link,
          };
        }),
      };
    },
    badgeTabs() {
      return {
        variant: 'light',
        header: this.data[6].fields.header,
        tabs: this.data[6].fields.tabs.map((tab) => {
          if (tab.fields.tabId === 'leaders') {
            return {
              tab_name: tab.fields.tabButtonText,
              tab_id: tab.fields.tabId,
              tab_icon: tab.fields.tabIconName,
              copy: tab.fields.tabPanelContent[0].fields.header,
              badge_images: tab.fields.tabPanelContent[0].fields.assets.map(
                (asset) => {
                  return {
                    src: asset.fields.image.fields.file.url,
                    alt: asset.fields.altText,
                  };
                },
              ),
            };
          }
          return {
            tab_name: tab.fields.tabButtonText,
            tab_id: tab.fields.tabId,
            tab_icon: tab.fields.tabIconName,
            copy: tab.fields.tabPanelContent[0].fields.header,
            cta: {
              url: tab.fields.tabPanelContent[0].fields.cta.fields.externalUrl,
              cta_text: tab.fields.tabPanelContent[0].fields.cta.fields.text,
              data_ga_name:
                tab.fields.tabPanelContent[0].fields.cta.fields.dataGaName,
              data_ga_location:
                tab.fields.tabPanelContent[0].fields.cta.fields.dataGaLocation,
            },
            analysts: tab.fields.tabPanelContent[0].fields.assets.map(
              (asset) => {
                return {
                  logo: asset.fields.image.fields.file.url,
                  text: asset.fields.title,
                  link: {
                    url: asset.fields.button.fields.externalUrl,
                    text: asset.fields.button.fields.text,
                    data_ga_name: asset.fields.title,
                    data_ga_location: 'customers badge',
                  },
                };
              },
            ),
          };
        }),
      };
    },
    startupsLink() {
      return {
        header: this.data[7].fields.title,
        heading_variant: 'heading4-bold',
        image_left: true,
        purple_background: true,
        button: {
          href: this.data[7].fields.button.fields.externalUrl,
          text: this.data[7].fields.button.fields.text,
          data_ga_name: this.data[7].fields.button.fields.dataGaName,
          data_ga_location: this.data[7].fields.button.fields.dataGaLocation,
        },
        image: this.data[7].fields.image.fields.file.url,
        alt: '',
      };
    },
  },
});
</script>

<template>
  <div>
    <Hero :data="data[0].fields" />
    <CustomerShowcase
      :data="data[1].fields"
      :cta-text="data[2].fields.data.text"
    />
    <PartnersGridFull class="slp-mb-96" :data="logo_grid" />
    <CompanyShowcase
      class="slp-pt-96 slp-pb-64"
      :data="data[4].fields"
      :cta-text="data[2].fields.data.text"
      :banner="data[5].fields"
    />
    <BadgeTabs :data="badgeTabs" />
    <StartupsLink :data="startupsLink" />
    <SlpContainer variant="gradient">
      <NextStep :variant="data[8].fields.variant" />
    </SlpContainer>
  </div>
</template>
