<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { FeaturedVideo } from '../components/common/index.vue';
import { CONTENT_TYPES } from '../common/content-types';
import { demoDataHelper } from '../services/demo.service';
import { getPageMetadata } from '~/common/meta';
import { getClient } from '~/plugins/contentful.js';

export default Vue.extend({
  components: {
    FeaturedVideo,
  },
  nuxtI18n: false,
  async asyncData({ error }: any) {
    try {
      const response = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': 'demo',
        include: 3,
      });

      const { pageContent } = response.items[0].fields;
      const seoMetadata = response.items[0].fields.seoMetadata[0].fields;

      const demo = demoDataHelper(pageContent);
      const metadata = {
        title: seoMetadata.title,
        description: seoMetadata.description,
        og_title: seoMetadata.title,
        og_description: seoMetadata.description,
      };
      return { demo, metadata };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <div class="demo">
      <SlpContainer>
        <SlpRow class="grayBackground">
          <SlpColumn class="text__container" :cols="6">
            <SlpTypography
              class="slp-mb-16 text__header"
              variant="heading2-bold"
              tag="h1"
            >
              {{ demo.header }}
            </SlpTypography>
            <SlpTypography
              class="slp-mb-16 text__subtitle"
              variant="heading4"
              tag="h2"
            >
              {{ demo.subtitle }}
            </SlpTypography>
          </SlpColumn>
          <SlpColumn class="column" :cols="6">
            <FeaturedVideo :data="demo.demo_video" />
          </SlpColumn>
        </SlpRow>
      </SlpContainer>
    </div>
    <SlpContainer class="slp-my-64">
      <SlpTypography class="slp-mb-16 content" tag="div">
        <div v-html="$md.render(demo.content)"></div>
      </SlpTypography>
      <!-- <ul>
        <li
          v-for="(item, index) in demo.data.items"
          :key="index"
          class="slp-mb-16 slp-flex"
        >
          <SlpIcon
            class="slp-mr-4"
            name="check-circle"
            variant="product"
            slp-color="accent-500"
          />
          {{ item }}
        </li>
      </ul> -->
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.demo {
  background-color: $color-surface-800;

  .text__container {
    margin-top: $spacing-96;
    padding-right: $spacing-32;
  }

  .column {
    @media (min-width: $breakpoint-lg) {
      padding: 0 $spacing-32;
    }

    .container:deep {
      margin-bottom: 0;

      .videoCard {
        background: transparent;
      }
    }
  }
}

.content:deep {
  ul {
    padding-left: $spacing-24;

    li {
      margin-bottom: 1rem;
      font-size: $text-body-2;
      line-height: $line-height-body-2;
      display: block;
      position: relative;
      padding-left: 8px;

      &::before {
        content: '';
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%237759c2' fill-rule='evenodd' clip-rule='evenodd' d='M14.5 8a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0zM16 8A8 8 0 110 8a8 8 0 0116 0zm-4.22-1.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.53 7.97a.75.75 0 00-1.06 1.06l1.75 1.75a.75.75 0 001.06 0l4.5-4.5z'/%3E%3C/svg%3E ");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  p {
    font-size: $text-heading-4;
    line-height: $line-height-heading-4;
    margin-bottom: $spacing-16;
  }
}
</style>
