<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface PrincipleSlide {
  name: string;
  description: string;
  image: {
    src: string;
    alt?: string;
  };
}

export default Vue.extend({
  props: {
    title: {
      type: String,
      required: true,
    },
    slides: {
      type: Array as PropType<PrincipleSlide[]>,
      required: true,
    },
  },
  data() {
    return {
      selectedSlide: 0,
    };
  },
  computed: {
    currentSlide() {
      return this.slides[this.selectedSlide] as PrincipleSlide;
    },
  },
  methods: {
    nextSlide() {
      if (this.selectedSlide === this.slides.length - 1) {
        return;
      }
      this.selectedSlide++;
    },
    previousSlide() {
      if (this.selectedSlide === 0) {
        return;
      }
      this.selectedSlide--;
    },
    selectSlide(slide: number) {
      this.selectedSlide = slide;
    },
  },
});
</script>

<template>
  <div class="ai-carousel">
    <SlpTypography variant="heading2-bold">{{ title }}</SlpTypography>
    <transition name="fade" mode="out-in">
      <div :key="currentSlide.name" class="card">
        <div class="text">
          <SlpTypography variant="heading3-bold">{{
            currentSlide.name
          }}</SlpTypography>
          <SlpTypography variant="body1" class="description">
            <div v-html="$md.render(currentSlide.description)"></div>
          </SlpTypography>
        </div>
        <div class="image">
          <img :src="currentSlide.image.src" :alt="currentSlide.image.alt" />
        </div>
      </div>
    </transition>
    <SlpRow v-if="slides.length > 1" class="controls">
      <SlpButton
        variant="icon"
        aria-label="View previous page"
        @click.native="previousSlide"
      >
        <SlpIcon
          name="chevron-lg-left"
          alt="Chevron Left Icon"
          variant="product"
          hex-color="#171321"
        />
      </SlpButton>
      <div class="controls__pages">
        <div
          v-for="index in slides.length"
          :key="index"
          :class="[
            selectedSlide === index - 1
              ? 'controls__pages-control--active'
              : '',
            'controls__pages-control',
          ]"
          @click="selectSlide(index - 1)"
        ></div>
      </div>
      <SlpButton
        variant="icon"
        aria-label="View next page"
        @click.native="nextSlide"
      >
        <SlpIcon
          name="chevron-lg-right"
          alt="Chevron Right Icon"
          variant="product"
          hex-color="#171321"
        />
      </SlpButton>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
.card {
  background: $color-surface-800;
  border-radius: 8px;
  padding: 37px 48px;
  display: flex;
  margin-top: 24px;
  gap: 16px;
  margin-right: 72px;
  flex-direction: column;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }
  .image img {
    border-radius: 4px 4px 100px 4px;
    max-height: 420px;
    max-width: 100%;
    @media (min-width: $breakpoint-lg) {
      max-width: initial;
      border-radius: 4px 4px 200px 4px;
      position: relative;
      right: -120px;
    }
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-top: $spacing-24;

  color: #171321;

  :deep {
    svg,
    path {
      fill: #171321 !important;
      stroke: #171321 !important;
    }
  }

  &__pages {
    display: inherit;

    &-control {
      background: $color-surface-300;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 $spacing-8;
      cursor: pointer;

      &:hover {
        background: $color-accent-500;
      }

      &--active {
        background: $color-surface-700;
      }
    }
  }
}

.description:deep(p) {
  margin-bottom: 16px;
}
</style>
